<template>
	<div>
		<div class="card">
			<div class="card-body">
				Home Sweet Home!
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: "Home",
	components: {
	}
}
</script>

<style scoped>

</style>